<div class="container my-5">
    <h1 class="text-center my-5">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus totam, consectetur voluptatem quibusdam,
        dolore
        aliquid incidunt sunt nobis facilis architecto omnis, harum doloremque amet beatae laboriosam iusto voluptates.
        Praesentium vitae distinctio, sit placeat officiis ad fugit. Blanditiis eum nam minus? Repellendus dolore ipsum
        quas
        aut velit alias, quisquam officiis ex veritatis, sint accusantium facilis iusto aperiam error quis molestiae,
        autem
        nostrum nobis minus ab tempora voluptatibus aspernatur possimus eligendi? Deserunt fugiat dolores rerum? Illo,
        optio
        aut ea facere deleniti ipsam iste distinctio quae error incidunt dolorum ut cumque debitis laborum laudantium
        impedit veritatis minus? Officiis fuga explicabo vero libero adipisci!</p>
</div>